@typeparam TItem
<h3>Table</h3>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        @foreach (var prop in typeof(TItem).GetProperties())
        {
            if (prop.Name != "Id")
            {
                <th>@prop.Name</th>
            }
        }
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @if (TableData != null)
    {
        int index = 1;
        @foreach (var item in TableData)
        {
            <tr>
                <td>@index</td>
                @foreach (var prop in typeof(TItem).GetProperties())
                {
                    if (prop.Name != "Id")
                    {
                        <td>@prop.GetValue(item)</td>
                    }
                }
                <td>
                    
                </td>
            </tr>
            index++;
        }
    }
    </tbody>
</table>

@code {
    [Parameter]
    public IEnumerable<TItem>? TableData { get; set; }
}